<article class="post">
    <div class="title">
        <a>{{title}}</a>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div>
        <a>{{body}}</a>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>